html, body {
	height: 100%;
	overflow: hidden;
}

.background {
	padding: 0px;
	margin: 0px;
  	pointer-events: all;
}

#map {
	width: 100%;
	height: 100%;
    font: 10pt;
    margin: 0px;
    padding: 0px;
}

#mapFeaturesLayer {
	padding: 0px;
	margin: 0px;
}

#filterGUI {
	position: absolute;
	margin: 10px;
}

#titleText {
	position: absolute;
	width: auto;
	text-align: center;
	position: fixed;
	margin: 0 auto;
  	left: 0;
	right: 0;
	pointer-events: none;
	font-size: 16pt;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
	
}

#subtitleText {
	position: absolute;
	width: auto;
	text-align: center;
	left: 0;
	right: 0;
	top: 24px;
	pointer-events: none;
	font-size: 16pt;
	font-family: Tahoma, Geneva, sans-serif;
}

#creditText {
	position: absolute;
	width: auto;
	height: auto;
	bottom: 0;
	right: 0;	
	font-size: 7pt;
	margin-right: 4px;
	margin-bottom: 2px;
	text-align: right;
	line-height: 100%;
}

#slidingPanel {
	position: absolute;
	width: 400px;
	height: 70px;
	position: fixed;
	bottom: 0;
	margin: 0 auto;
  	left: 0;
	right: 0;
	pointer-events: none;
}


#slidingPanelTab {
	margin-left: 15px;
	width: 40px;
	height: 18px;
	background: rgb(64, 64, 64);
    background: rgba(64, 64, 64, 0.9);
    box-shadow: 3px 3px 3px rgba(64,64,64,0.5);
	border-radius: 2px 2px 0px 0px;
	pointer-events: all;
}

#slidingPanelTab:hover {
	background-color: #fdae6b;	
}

#slidingPanelContent {
	background: rgb(64, 64, 64);
    background: rgba(64, 64, 64, 0.9);
    box-shadow: 3px 3px 3px rgba(64,64,64,0.5);
	padding: 5px;
	height: 52px;
	border-radius: 2px 2px 0px 0px;
	pointer-events: all;
}

.floxTooltip {
	position: absolute;
	text-align: left;
	width: auto;
	height: auto;
	padding: 3px;
	margin-top: -10px;
	font: 12px sans-serif;
	background: rgb(64, 64, 64);
    background: rgba(64, 64, 64, 0.9);
    box-shadow: 3px 3px 3px rgba(64,64,64,0.5);
    border-radius: 2px 2px 2px 2px;
	pointer-events: none;
	color: white;
	
}
#layoutProgressBar {
	position: absolute;
	width: 150px;
	height: 5px;
	position: fixed;
	top: 0;
	right: 0;
	margin: 5px;
}

.progress-bar {
	-webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.necklaceNode {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}



.tooltipValue {
	font-weight: bold;
	font-size: 16px;
}

.floxTooltip h5 {
	padding: 0px;
	margin: 0px;
	font-weight: bold;
}

.feature {
  cursor: pointer;
}

.feature.county {
  cursor: pointer;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.mesh.county {
	fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

p {
	font-size: 8.5pt;
}

.btn-group {
	margin-bottom: 3px;
}

.menuButton {
	font-size: 8.5pt;
	margin-bottom: 3px;
	display: block;
	padding: 2px 6px;
}


